<!doctype html>
<html lang="pt-br">

<head>
	<%- include ./comum/google-analytics.ejs %>
    <%- include ./comum/imports.ejs %>
	<!-- main css -->
    <link rel="stylesheet" href="/css/sweetalert2.min.css">
	<link rel="stylesheet" href="/css/style.css">    
</head>
    
<body>
    
    <!--================Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/"><h1 class="nav-logo">Coding Play</h1></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->

				</div>
			</nav>
		</div>
	</header>
	<!--================Header Menu Area =================-->
    
    <!--================ Login ======================-->
    <section class="section_gap">
			<div class="align-items-center">
                
				<div class="container">
                    <div id="login-column" class="col-md-6">
                        <form id="login-form" class="form" action="entrar" method="post">
                            <h3 class="text-center">Login</h3>
                            
                            <!--========================= Menssagem Usuario criado com sucesso ============================-->
                                <% if(typeof contaDesativada != 'undefined') { %>
                                    <div style="text-align:center; color:red;font-size:0.9em;font-family:arial;"><%=contaDesativada%></div>
                                <% } %>
                            <!--========================= END - Menssagem Usuario criado com sucesso ============================-->
                            
                            <div class="form-group">
                                <label for="email" >Email:</label><br>
                                <input type="text" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="senha" >Senha:</label><br>
                                <input type="password" name="senha" id="senha" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me"><span>Lembrar-me </span><span><input id="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" class="btn btn-info btn-md" value="Confirmar">
                            </div>
                            <div id="register-link" class="text-right">
                                    <a href="/aluno/add" class="text-info">Criar conta</a>
                            </div>
                            <% if(typeof msg != "undefined") { %>
                            <div class="form-group text-danger" role="alert">
                                <%=msg %>
                            </div>
                            <% } %>
                        </form>
                        
                    </div>
				</div>
			</div>
    </section>
    <!--================ Login ======================-->
    
    <% include comum/footer %>
    
    
    <!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/stellar.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script> <!-- Popups -->
	<script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script> <!-- Selecionar select -->
	<script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script> <!-- Adicionar imagens aleatórias -->
	<script src="/vendors/isotope/isotope-min.js"></script>
	<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/vendors/counter-up/jquery.waypoints.min.js"></script> <!-- Acompanha tela e realiza eventos dependendo do que se vê na tela -->
	<script src="/vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="/js/mail-script.js"></script>
    <script src="js/theme.js"></script>
    
    <!-- JS adicionais -->
    <script src="/js/sweetalert2.min.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/alerts.js"></script>
    
    <!--========================= Menssagem Usuario criado com sucesso ============================-->
        <% if(typeof msgUsuarioCad != 'undefined') { %>
            <script>
                usuarioCadastradoSucesso();
            </script>
        <% } %>
    <!--========================= END - Menssagem Usuario criado com sucesso ============================-->
    <!--========================= Menssagem Senha alterada com sucesso ============================-->
        <% if(typeof SenhaAlterada != 'undefined') { %>
            <script>
                senhaAlteradaSucesso();
            </script>
        <% } %>
    <!--========================= END - Menssagem Senha alterada com sucesso ============================-->

    
</body>

</html>