<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <table>
            <tr>
                <th>Nome</th>
                <th>Turma</th>
            </tr>
            
            <% for(var i = 0; i < alunos.length; i++) { %>
                <tr>
                    <td><%= alunos[i].nome %></td>
                    <td><%= alunos[i].turma %></td>
                </tr>
            <% } %>
            
        </table>
    </body>
</html>