<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <table>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Email</th>
            </tr>
            
            <% for(var i = 0; i < alunos.length; i++) { %>
                <tr>
                    <td><%= alunos[i].matricula %></td>
                    <td><%= alunos[i].nome %></td>
                    <td><%= alunos[i].email %></td>
                </tr>
            <% } %>
            
        </table>
    </body>
</html>