.upcoming_games_area .listProblemas th, .listProblemas td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.upcoming_games_area .listProblemas tr:hover .seleCampo {
    background-color: #dcdcdc;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}
.upcoming_games_area .listProblemas tr.pointer:hover {
    cursor: pointer;
}
.upcoming_games_area .listProblemas tr .seleCampo {
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}
.upcoming_games_area .listProblemas th, .listProblemas th {
  background-color: #2c2172;
  color: white;
}
.upcoming_games_area {
    padding: 40px 0 80px;
}
.upcoming_games_area form.filtro {
    padding: 20px 0px 15px;
}
#confirmar, #cancelar, #problemaSelecionado {
    display: none;
}
#problemaSelecionado {
    margin-top: 50px;
}
.listProblemas th, .listProblemas tr.problema td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}