.blog_right_sidebar .post_category_widget .cat-list li:hover {
    border-color: #f8b600; 
}
.blog_right_sidebar .post_category_widget .cat-list li:hover a { 
    color: #f8b600;
}
.blog_right_sidebar .widget_title {
    font-size: 2.0em;
    background: #fff;
    color: black;
}
.participaSessao {
    background-color: #fff;
    padding: 7px;
    border-radius: 10px;
    border:1px solid #00f8b6;
    color: #00f8b6;
    margin-top:10%;
    width: 100%;
    transition: color 0.5s;
    transition: background-color 0.5s;
    text-align: center;
    
}
.partiList{
    text-transform: capitalize;
    text-align: center;
}
.observaSessao {
    background-color: #fff;
    font-weight: bold;
    padding: 7px;
    border-radius: 10px;
    border:1px solid #f8b600;
    color: #f8b600;
    margin-top:10%;
    width: 100%;
    transition: color 0.5s;
    transition: background-color 0.5s;
    text-align: center;
    
}
.participaSessao:hover {
    color: #fff;
    background-color: #00f8b6;
    cursor: pointer;
}
.observaSessao:hover {
    color: #fff;
    background-color: #f8b600;
    cursor: pointer;
}
.adapted-blockquote {
  padding: 30px 50px 30px 30px;
  background: #fff;
  border-left: 2px solid #f8b600;
  display: none;
}
.botao_style {
    margin: 0px 0px 10px 0px;
    padding: 5px;
    width: 100%;
    border:solid 1px #f8b600;
    background-color: transparent;
    text-align: center;
    color: #f8b600;
    font-weight: bold;
    transition: 0.5s  background-color;
    -webkit-transition: background-color 0.5s;
    transition: 0.5s  color;
    -webkit-transition: color 0.5s;
    cursor: pointer;
    
    
}
.botao_style:hover {
    background-color: #f8b600;
    color: white;
}
.panel-body {
    overflow-y: scroll;
    min-height:150px;
    max-height:150px;
    padding: 15px;
    border-left: 1px solid #f2f2f2;
}
.chat li .chat-body p {
    margin: 0;
    color: #777777;
}
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}
.block_perguntas_estilo {
    padding: 10px 0px 10px 25px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    list-style-type: decimal;
}
.block_perguntas_estilo:last-child {
    border-bottom: 1px solid #ddd;
}
.block_opcoes {
    padding: 5px 0px;
}
.block_opcoes p {
    margin: 0px;
}
.opcoes_sim_nao {
    width: 24.5%;
    padding: 0px;
    display: inline-block;
    text-align: center;
}
.textarea_respostas {
    resize: none;
    line-height: inherit;
    border:1px solid #ddd;
}
.botao_style_enviar {
    text-align: center;
    padding: 25px 0px 35px 0px;
    margin:0px;
}
.style_div_questionario {
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
}