.doc .doc__text-editor {
    background: #fff;
    position: relative;
    font-size: 16px;
    pointer-events: none;
}
.bloco_problema{
    padding: 0.5% 2% 0.5% 2%; 
    background-color: #efeff5;
    border-bottom: 2px solid #f2f2f2;
}
.bloco_problema h5{
    text-align: center;
    text-shadow:1px 1px 5px black;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: monospace, sans-serif;
    padding: 0.5% 0% 0.5% 0%;
    margin-bottom:0px;
    cursor: pointer;
}
.nome_usuario {
    float: right;
    font-weight: bold;
    color: #f2f2f2;
    font-size: 0.8em;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-family: Flaticon, sans-serif;
}
.sair_sessao_ativa {
    position: absolute;
    margin: 0px;
    padding: 0px;
}
.sair_sessao_ativa:hover {
    text-decoration: none;
}
.participaSessao {
    background-color: #de4d2b;
    font-weight: bold;
    padding: 4%;
    border:1px solid #fff;
    border-radius: 0px 0px 20px 0px;
    color: #fff;
    width: 5em;
    transition: color 0.5s;
    transition: background-color 0.5s;
    text-align: center;
    
}
.participaSessao:hover {
    color: #de4d2b;
    background-color: #fff;
    border:1px solid #de4d2b;
    cursor: pointer;
}
.bloco_problema p{
    font-family: sans-serif;
    border-top: 1px solid #e0e0eb;
}
.infoSessao {
    padding:0px;
    background-color: #fcfcfc;
    border-top:1px solid #ddd;
    border-left: 1px solid #ddd;
}
#members{
    margin: 0px;
    padding: 0px;
}
#members li{
    text-transform:uppercase;
    font-size: 14px;
    font-weight: bold;
    list-style-type:none;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px 10px 10px;
}
#members li h3{
    font-size: 12px;
    text-align: center;
    margin-top:5px;
    margin-bottom:0px;

}
#observador{
    margin: 0px;
    padding: 0px;
}
#observador li{
    text-transform:uppercase;
    font-size: 14px;
    font-weight: bold;
    list-style-type:none;
    border-bottom: 1px solid #ddd;
    padding: 6px 6px 6px 6px;
}
.piloto {
    color: #2BBCDE;
    font-weight: bold;
}
.copiloto {
    color: #de4d2b;
    font-weight: bold;
}
#sendAll {
    border: 2px double #ddd;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    background-color: #565656;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 10% 15% 10% 15%;
    width:70%;
}
.confirm_solução {
    display: none;
    border: 2px double #ddd;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    background-color: #565656;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 10% 15% 10% 15%;
    width:70%;
}
