<!doctype html>
<html lang="pt-br">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.icon" type="image/png">
	<title>Coding Play</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/vendors/linericon/style.css"> <!-- Icones -->
	<link rel="stylesheet" href="/css/font-awesome.min.css"> <!-- Icones -->
	<link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/magnific-popup.css"> <!-- Popup de video ou fotos -->
	<link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css"> <!-- Selecionar select -->
	<link rel="stylesheet" href="/vendors/animate-css/animate.css">
	<link rel="stylesheet" href="/vendors/flaticon/flaticon.css"> <!-- Icones -->
	<!-- main css -->
    <link rel="stylesheet" href="/css/sweetalert2.min.css">
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/problemas.css">
</head>
    
<body>
    
    <!--=============== Seleção do tipo de navegador de acordo com usuário logado ====================-->
    <% if(session.tipo == 'aluno' && session.usuario != 'undefined') { %>
            <%- include ../aluno/comum/header %>
    <% } else if(session.tipo == 'professor' && session.usuario != 'undefined') { %>
            <%- include ../professor/comum/header %>
    <% } else { %>
            <%- include ../headerOff %>
    <% } %>
    <!--=============== END - Seleção do tipo de navegador de acordo com usuário logado ================-->
    
    <section class="section_gap">
        <div class="container">
            <div class="row">
                <div class="offset-1"></div>
                    <div class="col-lg-10 col-md-10">
                        <form id="novoProblema" action="/problema/save" method="post">
                            
                            <div id="primeira_etapa">
                                <h3 class="mb-30 title_color text-center">Criar Problema</h3>
                                <div class="mt-10">
                                    <label for="nome_problema"></label>
                                    <input type="text" name="nome_problema" maxlength="40" class="input_style" placeholder="Título" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Título'"  required>
                                    <select name="dificuldade" class="form-control search-slt select_dificuldade" required>
                                        <option value="">Dificuldade</option>
                                        <option value="fácil">Fácil</option>
                                        <option value="médio">Médio</option>
                                        <option value="difícil">Difícil</option>
                                        <option value="expert">Expert</option>
                                    </select>
                                </div>
                                <textarea name="desc_problema" class="mt-10 descricao_style" rows="5" placeholder="Descrição do problema" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Descrição do problema'" maxlength="60000" required></textarea >
                                
                                <div class="button-group-area text-center">
                                    <a href="#" class="genric-btn info circle arrow" id="avancar">Avançar<span class="lnr lnr-arrow-right"></span></a>
                                </div>
                            </div>
                            
                            <div id="segunda_etapa">
                                <h3 class="mb-30 title_color text-center">Descreva os casos de teste</h3>
                                <table class="table table-striped table-bordered" id="entradas" style="margin-bottom:0px;">
                                    <select name = "entrada_quantidade"  class="form-control search-slt" id="select_entradas" required>
                                        <option value="" >Entradas</option>
                                        <option value="0" >0</option>
                                        <option value="1" >1</option>
                                        <option value="2" >2</option>
                                        <option value="3" >3</option>
                                        <option value="4" >4</option>
                                        <option value="5" >5</option>
                                    </select>
                                    <thead>                                    
                                        <tr class="list_entradas">
                                            <th style="width: 75%;">Entradas</th>
                                            <th style="width: 25%;">Saída</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tabelaListaProduto">
                                        <tr class="list_problemas">
                                            <td data-entrada="" class="seleCampo"></td>
                                            <td data-dificuldade="" class="seleCampo"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <div class="novo_caso_teste" id="add_caso_teste">Novo caso de teste</div>
                                
                                <div class="text-center button-group-area mt-20">
                                    <input type="submit" class="genric-btn info-border circle arrow" value="Confirmar" id="confirmar">
                                </div>
                                <div class="text-center button-group-area mt-0">
                                    <input type="reset" class="genric-btn danger-border circle arrow" value="Cancelar" id="cancelar">
                                </div>
                                

                            </div>
                            
                        </form>
                    </div>
                <div class="offset-1"></div>
            </div>
        </div>
    </section>
    
    <% include ../comum/footer %>
    
    <!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/stellar.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script> <!-- Popups -->
	<script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script> <!-- Selecionar select -->
	<script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script> <!-- Adicionar imagens aleatórias -->
	<script src="/vendors/isotope/isotope-min.js"></script>
	<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/vendors/counter-up/jquery.waypoints.min.js"></script> <!-- Acompanha tela e realiza eventos dependendo do que se vê na tela -->
	<script src="/vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="/js/mail-script.js"></script>
    <script src="js/theme.js"></script>
    
    <!-- JS adicionais -->
    <script src="/js/sweetalert2.min.js"></script>
    <script src="/js/footer.js"></script>
    <script>
        $("#avancar").click(function() {
            $("#primeira_etapa").hide('slow');
            $("#segunda_etapa").show('slow');
        });
        $("#cancelar").click(function() {
            $("#primeira_etapa").show('slow');
            $("#segunda_etapa").hide('slow');
        });
        
        $("#select_entradas").change(function(){
            var numeroEntradas = document.getElementById('select_entradas').value;
            var linhaEntrada = "<tr class='list_problemas'>";
                linhaEntrada += "<td data-entrada='' class='seleCampo'></td>";
                linhaEntrada += "<td data-saida='' class='seleCampo'></td>";
                linhaEntrada += "</tr>";
            
            $("#tabelaListaProduto").html(linhaEntrada);
            for(i=0; i<numeroEntradas ;i++){
                $("#tabelaListaProduto tr:last-child td:first-child").append("<input name = 'entrada' class='campo_entradas_caso_test' type='text' maxlength='20' required>");
            }
            if(numeroEntradas > 0){
                $("#tabelaListaProduto tr:last-child td:last-child").append("<input name='saida' class='campo_entradas_caso_test' type='text' maxlength='20'' required>");
            }
            
        });
        
        $("#add_caso_teste").click(function(){
            var numeroEntradas = document.getElementById('select_entradas').value;
            var linhaEntrada = "<tr class='list_problemas'>";
                linhaEntrada += "<td data-entrada='' class='seleCampo'></td>";
                linhaEntrada += "<td data-saida='' class='seleCampo'></td>";
                linhaEntrada += "</tr>";
            if(numeroEntradas > 0){
                $("#tabelaListaProduto").append(linhaEntrada);
                for(i=0; i<numeroEntradas ;i++){
                    $("#tabelaListaProduto tr:last-child td:first-child").append("<input name = 'entrada' class='campo_entradas_caso_test' type='text' maxlength='20' required>");
                }
                $("#tabelaListaProduto tr:last-child td:last-child").append("<input name='saida' class='campo_entradas_caso_test' type='text' maxlength='20'' required>");   
            }
        });
        
        function adicionarCasoDeTeste() {
            
        }
    </script>
    
</body>

</html>