    <!--================Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/"><h1 class="nav-logo">Coding Play</h1></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav justify-content-center">
                            <li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Sessões</a>
								<ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="#" onclick="acessoRapido()" id="acessoRapido">Acesso rápido</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/sessoes/list">Ver Sessões</a></li>
									<li class="nav-item"><a class="nav-link" href="/sessao/add">Criar Sessão</a></li>
								</ul>
							</li>
                            <li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Problemas</a>
								<ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/problema/list">Ver Problemas</a></li>
									<li class="nav-item"><a class="nav-link" href="/problema/add">Criar Problema</a></li>
								</ul>
							</li>
                            <li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Funções</a>
								<ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/aluno/active">Permitir alunos</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/professor/add">Cadastrar Professor</a></li>
								</ul>
							</li>
                            
                            <li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Minha Conta</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="/senha/change">Alterar senha</a></li>
								</ul>
							</li>
						</ul>
                        <h5 class="nav-item bem">bem-</h5>
                        <h5 class="nav-item vindo">vindo</h5>
                        <h5 class="nav-item nome_usuario"><%= session.usuario.nome %> </h5>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a class="nav-link" href="/sair">Sair</a></li>
						</ul>
					</div>
                    
				</div>
			</nav>
		</div>
	</header>

    <script src="/js/alertHeader.js"></script>
<!--================Header Menu Area =================-->