<!doctype html>
<html lang="pt-br">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.icon" type="image/png">
	<title>Coding Play</title>
    
	<!-- CSS -->
	<link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/sweetalert2.min.css">
    <link href="/css/textCollaboractive.css" rel="stylesheet">
    <style>
        .bloco_problema{
            padding: 0.5% 2% 0.5% 2%; 
            background-color: #efeff5;
            border-bottom: 2px solid #f2f2f2;
        }
        .bloco_problema h5{
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-family: monospace, sans-serif;
            padding: 0.5% 0% 0.5% 0%;
            margin-bottom:0px;
            cursor: pointer;
        }
        .bloco_problema p{
            font-family: sans-serif;
            border-top: 1px solid #e0e0eb;
        }
        

        .piloto {
            color: red;
        }
    </style>
    <script> var codigoPusher = "<%= session.usuario.codigo_pusher %>" </script>
    <script> var nomeUsuario = "<%= session.usuario.nome %>" </script>
    <script> var tipoUsuario = "<%= session.tipo %>" </script>
</head>
<body>
    <div class="bloco_problema">
        <h5 id="botaoDesafio">Desafio</h5>
        <p><%=sessao[0].desc_problema%></p>
    </div>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-lg-10 bloco_text_collaborative">
                
                
                
                <div class="doc">
                    <div id="doc" class="doc__text-editor"  ></div>
                </div>
                
                
            </div>
            <div class="col-lg-2">
                <div class="members_block" id="membersBlock">
                    <ul id="members"></ul>
                    <h1 id="usersOnline"></h1>
                    <script>
                        setTimeout(function() {
                            if(("user-"+codigoPusher) == idPiloto) {
                                $(".doc__text-editor").css("pointer-events", "none");
                            }

                            var el = document.querySelector('.piloto');
                            idPiloto = el && el.id;

                            if(("user-"+codigoPusher) == idPiloto) {
                                $(".doc__text-editor").css("pointer-events", "auto");
                            }
                        }, 5000);
                        
                    </script>
                </div>
                
                <% if(session.usuario.id == sessao[0].id_professor && session.tipo == 'professor') { %>
                    <button id="sendAll" onclick="changePiloto()">Trocar piloto</button>
                <% } %>
                
            </div>
        </div>
    </div>
    
    <!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    
    <!-- JS adicionais -->
    <script src="/js/sweetalert2.min.js"></script>
	
    <!-- API Pusher -->
    <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
    <script src="/js/textCollaboractive.js"></script>
    <script>
        function redimensionarBlocoResposta() {
            var alturaJanela = $(window).height();
            var alturaProblema = $('.bloco_problema').height();
            alturaProblema = Math.ceil(alturaProblema);
            var alturaResposta = ((alturaJanela - alturaProblema)-20);
            
            $(".doc__text-editor").css("height",alturaResposta);
        
        }
        
        redimensionarBlocoResposta();
        
        $(window).resize(function() {
            redimensionarBlocoResposta();
        });
        
        $(".bloco_problema h5").click(function() {
            $(".bloco_problema p").slideToggle( function() {
                redimensionarBlocoResposta();
            }); 
        }); 
        
        //Alterar Piloto da Sessão
        var idPiloto = "";
        var pilotoAtual = 1;
        function changePiloto() {

            var tamanhoList = $("#members li").length;

            $("#members li:nth-child("+(pilotoAtual-1)+")").removeClass('piloto');
            if(pilotoAtual > tamanhoList) {
                pilotoAtual = 1;
            }
            $("#members li:nth-child("+pilotoAtual+")").addClass('piloto');

            setTimeout(function() {
                if(("user-"+codigoPusher) == idPiloto) {
                    $(".doc__text-editor").css("pointer-events", "none");
                }
                
                var el = document.querySelector('.piloto');
                idPiloto = el && el.id;

                if(("user-"+codigoPusher) == idPiloto) {
                    $(".doc__text-editor").css("pointer-events", "auto");
                }
            }, 5000);
            
            return pilotoAtual++;
        }

    </script>
</body>
    
</html>